#Game_menu {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  display: block;

}

#Game_title {
  font-size: 30px;
  margin-bottom: 50px;
}

.playing_method {
  margin-bottom: 10px;
  
}

#Game_container{
  display:none;
}

.mdl-spinner{
  display:none;
}

#Exit_btn{
  margin-left: auto;
  margin-right: auto;
  text_align: center;
}
.demo-card-wide{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

}

/** board cover - the blue part**/
#Board_cover{
  position:absolute;
}

.cover_cell{
  float:left;
}
/** status panel **/
#Status_panel{
  margin-left:auto;
  margin-right:auto;
  width:560px;
}
#Red_player_status{
  background:red;
}

#Yellow_player_status{
  background:yellow;
}

.player_status{
  -moz-border-radius: 36px; 
  -webkit-border-radius: 36px; 
  border-radius: 36px;
  width:72px;
  height:72px;
}
.status_border{
  margin-top: 20px;
  border-width: 2px;
  border-style: solid;
  width:72px;
  height:72px;
  border-radius: 4px;

}

#Red_status_border{
  border-color:black;
  float:left;
}

#Yellow_status_border{

  border-color: white;
  float:right;
}
#Status_wording{
  text-align: center;
  font-size:45px;
  float:left;
  padding-top:30px;
  padding-left:40px;
}
/** The button to trigger the interaction **/

.x_button:hover{
  cursor:pointer;
  background:green;
  opacity:0.2;
}

/** Checker **/
.checker{
  position: absolute;
  z-index:-1;
}

.player0{
  background: red;
}

.player1{
  background: yellow;
}

/** line **/
.point {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: black;
  position: absolute;
}

.line {
  width: 100%;
  color: black;
  height: 1px;
  background-color: black;
}

/** Utility **/
.clearfix{
  clear:both;
}

body{
  min-width:560px;

  min-height:560px;

  font-family: 'Crushed', cursive;
}